<h1 >{{ todoList?.title }}</h1>
<app-list-filter-search [todoList]="todoList"></app-list-filter-search>

<button mat-raised-button color="primary" type="submit" *ngIf="!showNewTodoForm" (click)="showNewTodoForm = true">Add {{ todoList?.todos?.length ? 'Another' : '' }} Todo Item</button>

<form [formGroup]="newTodoForm" (ngSubmit)="onSubmit()" *ngIf="showNewTodoForm">
    <mat-form-field class="short" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Text</mat-label>
      <textarea matInput formControlName="text"></textarea>
    </mat-form-field>
  
    
    <div class="deadline-container">
      <mat-form-field class="short" appearance="fill">
        <mat-label>Deadline date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="deadlineDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field class="short" appearance="fill">
        <mat-label>Deadline time</mat-label>
        <input matInput type="time" formControlName="deadlineTime">
      </mat-form-field>
    </div>
      
    <button mat-raised-button color="primary" type="submit" [disabled]="newTodoForm.invalid || newTodoForm.pristine">Save New Todo Item</button>
</form>

<button mat-raised-button color="primary" type="submit" *ngIf="!showNewTodoForm" (click)="saveList()">Save List</button>

    