.save-list {
    margin: 30px 0;
}

button {
    margin-left: 10px;
}

mat-form-field {
    display: block;
    margin-bottom: 20px;

    &.short {
        width: 250px;
    }
}

.deadline-container {
    display: flex;

    mat-form-field {
        margin-right: 10px;
    }
}