.sidenav-container {
    height: 100%;
}
  
.mat-sidenav-content, .mat-sidenav-container, .mat-sidenav {
    height: 100%;
}

span {
    margin-left: 10px;
}

.content {
    padding: 20px;
}

mat-sidenav {
    width: 200px;
}